$top-body: #FFF;
$hero: #FBFEFD;
$body: #383838;
$primary: #008385;
$secondary: #204852;

@font-face {
    font-family: urwclassico-bold;
    src: url('/resources/fonts/urw_classico_w01_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: sofia-prosemibold;
    src: url('/resources/fonts/sofia_w03_semi_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: sofia-proregular;
    src: url('/resources/fonts/sofiaproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: $body;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 1;
    :hover {
    opacity: 0.8;
    }
}

#intro {
    font-family: 'urwclassico-bold';
    color: $top-body;
    line-height: 85.6%;
    font-size: 64px;
    @media screen and (min-width: 900px) {
    font-size: 120px;
    }
}

#subtext {
    font-family: 'sofia-proregular';
    color: $top-body;
    font-size: 22px;
    margin-top: 1.8em;
    line-height: 134%;
    @media screen and (min-width: 900px) {
        font-size: 24px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }
}

#subtext-body {
    font-family: 'sofia-proregular';
    color: $top-body;
    font-size: 14px;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
    line-height: 134%;
    @media screen and (min-width: 900px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 18px;
    }
}

#btn-content {
    display: flex;
    flex-direction: row;
    margin: auto auto;
}

#btn-text {
    font-family: 'sofia-proregular';
    color: $top-body;
    font-size: 12px;
    margin-left: auto;
    width: 85%;
    @media screen and (min-width: 900px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        width: 90%;
    }
}

#external-link {
    height: 15px;
    margin: auto;
    @media screen and (min-width: 1200px) {
        margin-left: 9px;
    }
}

#stones-text-large {
    font-family: 'sofia-proregular';
    color: $secondary;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    margin-top: 2em;
    @media screen and (min-width: 1200px) {
        text-align: left;
        font-size: 32px;
        line-height: 134%;
        margin-top: 0;
    }
}

#stones-text-small {
    font-family: 'sofia-proregular';
    float: right;
    font-size: 16px;
    margin-top: 2.7em;
    line-height: 150%;
    @media screen and (min-width: 1200px) {
    margin-left: 2em;
    }
}