body, html, section {
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    overflow: hidden;
    background-color: #204852;
    height: 6em;
    align-items: center;
    padding: 0 10%;
}

#menu {
    display: none;
    @media screen and (min-width: 900px) {
        display: flex;
        justify-content: space-evenly;
        color: $top-body;
        font-size: 12px;
        text-transform: uppercase;
        justify-items: flex-end;
        margin-left: auto;
        letter-spacing: 1px;
        li {
            margin: 0 25px;
            font-family: 'sofia-proregular';
            :hover {
                color: #cccc;
            }
        }
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        letter-spacing: 1.8px;
    }
}
