@font-face {
  font-family: urwclassico-bold;
  src: url("/resources/fonts/urw_classico_w01_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: sofia-prosemibold;
  src: url("/resources/fonts/sofia_w03_semi_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: sofia-proregular;
  src: url("/resources/fonts/sofiaproregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #383838;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
}

a :hover {
  opacity: 0.8;
}

.link {
  color: #008385;
  text-decoration: underline;
}

#hero-text {
  margin: 0 10%;
  padding-top: 20vh;
  width: auto;
}

@media screen and (min-width: 1200px) {
  #hero-text {
    width: 47.8em;
  }
}

#intro {
  font-family: 'urwclassico-bold';
  color: #FFF;
  line-height: 85.6%;
  font-size: 52px;
}

@media screen and (min-width: 400px) {
  #intro {
    font-size: 64px;
  }
}

@media screen and (min-width: 700px) {
  #intro {
    font-size: 86px;
  }
}

@media screen and (min-width: 1200px) {
  #intro {
    font-size: 120px;
  }
}

#subtext {
  font-family: 'sofia-proregular';
  color: #FFF;
  font-size: 22px;
  margin-top: 1.8em;
  line-height: 134%;
}

@media screen and (min-width: 1200px) {
  #subtext {
    font-size: 26px;
    letter-spacing: 1.5px;
  }
}

#subtext-body {
  font-family: 'sofia-proregular';
  color: #FFF;
  font-size: 14px;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  line-height: 134%;
}

@media screen and (min-width: 1200px) {
  #subtext-body {
    font-size: 18px;
  }
}

#btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto auto;
}

#btn-text {
  font-family: 'sofia-proregular';
  color: #FFF;
  font-size: 12px;
  margin-left: auto;
  width: 85%;
}

@media screen and (min-width: 900px) {
  #btn-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  #btn-text {
    font-size: 16px;
  }
}

#external-link {
  height: 15px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  #external-link {
    margin-left: 9px;
  }
}

#stones-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#stones-text-large {
  font-family: 'sofia-proregular';
  color: #204852;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  margin-top: 2em;
}

@media screen and (min-width: 1200px) {
  #stones-text-large {
    text-align: left;
    font-size: 32px;
    line-height: 134%;
    margin-top: 0;
    letter-spacing: 0.8px;
  }
}

#stones-text-small {
  font-family: 'sofia-proregular';
  float: right;
  font-size: 16px;
  margin-top: 2.7em;
  line-height: 150%;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 1200px) {
  #stones-text-small {
    margin-left: 2em;
  }
}

#introduction {
  margin: 7.8em 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  #introduction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body, html, section {
  height: 100%;
  padding: 0;
  margin: 0;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #204852;
  height: 6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

#menu {
  display: none;
}

@media screen and (min-width: 900px) {
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    justify-items: flex-end;
    margin-left: auto;
    letter-spacing: 1px;
  }
  #menu li {
    margin: 0 25px;
    font-family: 'sofia-proregular';
  }
  #menu li :hover {
    color: #cccc;
  }
}

@media screen and (min-width: 1200px) {
  #menu {
    font-size: 16px;
    letter-spacing: 1.8px;
  }
}

#logo .img {
  display: inline-block;
  height: 60px;
  width: auto;
}

.hero-image {
  background-image: url("/resources/images/hero-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

@media screen and (min-width: 1200px) {
  .hero-image {
    height: 100%;
  }
}

#mobile-menu {
  margin-left: auto;
}

@media screen and (min-width: 900px) {
  #mobile-menu {
    display: none;
  }
}

#btn {
  background: #008385;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  border: none;
}

@media screen and (min-width: 900px) {
  #btn {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  #btn {
    width: 577px;
  }
}

#btn :focus {
  outline: none;
  border: none;
}

#stones {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 90vw;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  #stones {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2%;
    width: 45vw;
  }
}
/*# sourceMappingURL=main.css.map */